.lead__image-vector {
    width:95%;
    /*max-width: 937.09px;
    height: 262.99px;*/
    margin: 0 auto;
    margin-top: 90.21px;

    
}

@media screen and (max-width: 1024px) {
    .lead__image-vector {
        width:95%;
        /*width: 883.76px;
        height: 248.02px;*/
        margin-top: 85.07px;
    }
} 

@media screen and (max-width: 768px) {
    .lead__image-vector {
        width:95%;
        /*width: 731.38px;
        height: 205.26px;*/
        margin-top: 70.41px;
    }
} 

@media screen and (max-width: 767px) {
    .lead__image-vector {
        width:95%;
        /*width: 304.74px;
        height: 85.53px;*/
        margin-top: 29.34px;
    }
} 