
.cover{
    margin: 0 auto;
    margin-top: 92px;
    background-image: url(../../images/cover-trains.jpg);
    max-width: 1184px;
    min-height: 740px;
    background-size: cover;
    background-position: center;
    position: relative;
    

  }

  .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
    transition: .5s ease-in-out;
  }
  .cover:hover::before{
    opacity: 0.8;
  }







@media screen and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
                    
    }
} 

@media screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
                    
    }
} 

@media screen and (max-width: 767px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin-top: 66px;
                    
    }
} 
